.header {
    display: flex;
    align-items: center;
}

.nav, .bttn-container, .logo {
    display: flex;
    width: 33.33%;
}

.nav {
    gap: 1em;
    margin-left: 2em;
}

.logo {
    justify-content: center;
    align-items: center;
}

.bttn-container{
    justify-content: flex-end;
    margin-right: 2em;
}
