.log-in-field {
    margin-top: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5em;
}

.bttn-field {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: fit-content;
}

.bttn-field:last-child {
    margin-top: 0.5em;
}

.from-field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.togglableContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}